main {
  background-color: var(--bg-primary);
  height: calc(100vh - 45px - 28px);
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.canvas-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}
