.menu-group {
  align-items: center;
  display: flex;
  flex-direction: column;

  .body {
    align-items: center;
    flex: 1;
    display: flex;
  }

  .label {
    color: var(--clr-primary);
    font-size: 0.75em;
    text-transform: uppercase;
    text-wrap: nowrap;
  }
}
