.wrapper {
  cursor: pointer;
}

.popover {
  background: transparent;
  border: none;
  inset: unset;
  padding: 0;
  left: anchor(left);
  top: anchor(bottom);
  position: absolute;
}

.options {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  width: 100%;
}

.option {
  display: flex;
  gap: var(--space-md);
  justify-content: space-between;
  width: 100%;
}
