.shape-picker {
  display: flex;
  gap: var(--space-md);
  min-width: 220px;

  .shapes {
    align-items: center;
    border-radius: var(--radius);
    border: 1px solid var(--clr-primary);
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-sm);
    overflow-y: scroll;
    max-width: 171px;
    max-height: 70px;
  }

  .modifiers {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
  }
}
