.menu {
  align-items: center;
  background: var(--bg-secondary);
  border-bottom: 1px solid var(--clr-accent);
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-md);
  padding: var(--space-sm);

  .divider {
    background: var(--bg-active);
    height: 100%;
    width: 2px;
  }
}
