.menu {
  background: var(--bg-secondary);
  border-bottom: 1px solid var(--clr-accent);
  display: flex;
  flex-wrap: nowrap;
  gap: var(--space-md);
  max-height: 150px;
  overflow: auto hidden;
  padding: var(--space-sm);

  .divider {
    background: var(--bg-active);
    height: 100%;
    width: 2px;
  }
}
