.line-thickness {
  align-items: center;
  background: var(--bg-secondary);
  border: 1px solid var(--clr-accent);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  height: 50vh;
  left: var(--space-md);
  padding: var(--space-sm);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: center;
  z-index: 5;
  width: 61px;

  input {
    direction: rtl;
    flex: 1;
    writing-mode: vertical-lr;

    &:focus {
      outline: none;
    }
  }

  &:has(input:focus) {
    border: 2px solid var(--clr-primary);
  }

  .current-width {
    background: var(--bg-active);
    border-radius: var(--radius);
    color: var(--clr-primary);
    outline: 1px solid var(--clr-primary);
    padding: var(--space-sm);
    position: relative;
    width: 100%;
    text-align: center;
  }

  .preview-canvas {
    border-radius: var(--radius);
    left: 70px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
