.line-thickness {
  align-items: center;
  background: var(--bg-secondary);
  border: 1px solid var(--clr-secondary);
  border-radius: var(--radius);
  display: flex;
  flex-flow: row-reverse;
  gap: var(--space-sm);
  height: 50px;
  left: 0;
  padding: var(--space-sm);
  position: absolute;
  top: 50%;
  transform: rotate(-90deg) translateY(calc(50vh* -0.5 + 41px));
  transform-origin: center;
  z-index: 5;
  width: 50vh;

  input {
    flex: 1;
  }

  &:has(input:focus) {
    border: 1px solid var(--clr-primary);
  }

  .current-width {
    background: var(--bg-active);
    border-radius: var(--radius);
    color: var(--clr-primary);
    outline: 1px solid var(--clr-primary);
    padding: var(--space-sm);
    position:relative;
    transform: rotate(90deg);
  }

  .preview-canvas {
    border-radius: var(--radius);
    left: -130px;
    position: absolute;
    top: 0;
  }
}
