.line-thickness {
  align-items: center;
  background: var(--bg-secondary);
  border: 1px solid var(--clr-accent);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  height: 50vh;
  left: var(--space-md);
  padding: var(--space-sm);
  padding-bottom: calc(28px + var(--space-sm)) ;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: center;
  z-index: 5;
  width: 30px;

  input {
    direction: rtl;
    writing-mode: vertical-lr;
  }

  &:has(input:focus) {
    border: 2px solid var(--clr-primary);
  }

  .current-width {
    background: var(--bg-active);
    border-radius: var(--radius);
    bottom: var(--space-sm);
    color: var(--clr-primary);
    font-size: 0.75em;
    outline: 1px solid var(--clr-primary);
    padding: var(--space-sm);
    position: absolute;
    width: 40px;
    text-align: center;
  }

  .preview-canvas {
    border-radius: var(--radius);
    left: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
