.gradientGenerator {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: var(--space-lg);
  place-items: center;
  padding: var(--space-lg);
}

.gradientInput {
  grid-column: 2;
  grid-row: 2;
  position: relative;
}

.gradientPreview {
  border-radius: var(--radius);
  grid-column: 2;
  grid-row: 1;
}

.colorPicker {
  grid-column: 3;
}

.stopIndicator {
  border: 1px solid white;
  border-radius: var(--radius);
  cursor: grab;
  display: inline-block;
  position: absolute;
  z-index: 100;
}

.active {
  outline: 2px solid var(--clr-primary);
  outline-offset: 1px;
}
