.gradientGenerator {
  display: grid;
  grid-template-areas:
    "stopList preview colorPicker"
    "stopList input storeManager"
    "stopList modifiers storeManager";
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: var(--space-lg);
  place-items: center;
  padding: var(--space-lg);
}

.gradientInput {
  grid-area: input;
  position: relative;
}

.gradientPreview {
  border-radius: var(--radius);
  grid-area: preview;
}

.colorPicker {
  grid-area: colorPicker;
}

.stopIndicator {
  border: 1px solid white;
  border-radius: var(--radius);
  cursor: grab;
  display: inline-block;
  position: absolute;
  z-index: 100;
}

.stopList {
  align-self: flex-start;
  grid-area: stopList;
  gap: var(--space-md);
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-height: 575px;
  overflow-y: auto;
}

.stopListItem {
  align-items: center;
  border: 1px solid var(--clr-primary);
  border-radius: var(--radius);
  cursor: pointer;
  padding:var(--space-sm);
  display: flex;
  gap: var(--space-md);
  flex-wrap: nowrap;
  justify-content: space-between;
  text-wrap: nowrap;

  &[data-active] {
    background-color: var(--bg-active);
    color: var(--clr-accent);
  }

  span {
    font-size: 1em;
  }
}

.gradientStoreManager {
  display: flex;
  gap: var(--space-lg);
  grid-area: storeManager;
  width: 460px;
  min-height: 200px;
}

.storeManagerButtons {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.gradientsList {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  flex: 1;
  gap: var(--space-md);
  place-content: baseline;
  max-height: 200px;
  max-width: 400px;
}

.gradientListItem {
  border: 2px solid transparent;
  cursor: pointer;
  display: flex;
  gap: var(--space-sm);

  &[data-active] {
    border: 2px solid var(--clr-accent);
    border-radius: var(--radius);
  }
}

.active {
  outline: 2px solid var(--clr-primary);
  outline-offset: 1px;
}

.gradientModifiers {
  grid-area: modifiers;
}
