.input {
  --size: 36px;
  width: var(--size);
  height: var(--size);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  appearance: none;
  padding: 4px;
  -webkit-appearance: none;

  &::-webkit-color-swatch {
    border-radius: var(--radius);
  }
}

