.zoom-in-out {
  align-items: center;
  display: flex;
  gap: var(--space-md);
  margin-left: auto;

  &:has(input:focus) {
    background-color: var(--bg-active);
    border-radius: var(--radius);
    color: var(--clr-hover);
    padding-inline: 8px;
  }
}

.pointer {
  cursor: pointer;
}

.disabled {
  color: var(--clr-disabled);
  pointer-events: none;
}
