.dialog {
  background-color: var(--bg-primary);
  border: 1px solid var(--clr-primary);
  border-radius: 8px;
  color: var(--clr-primary);
  padding: var(--space-md);
  overflow: visible;
  min-width: 500px;
  min-height: 300px;
}

.body {
  overflow: auto;
}

.closeButton {
  padding: 0;
  position: absolute;
  right: -5px;
  top: -5px;
  outline: 2px solid var(--clr-primary);
}

.title {
  border-bottom: 1px solid currentColor;
  letter-spacing: 1px;
  padding-bottom: var(--space-md);
  text-align: center;
}
