.wrapper {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: var(--space-md);
  padding: var(--space-md);
}

.input {
  border-bottom-color: var(--clr-primary);
  border-right-color: var(--clr-primary);
  appearance: textfield;
  width: 30px;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

.label {
  color: var(--clr-primary);
  display: flex;
  gap: var(--space-sm);
  justify-content: space-between;
}

.button {
  justify-self: flex-end;
}
