.canvas {
  anchor-name: --mainCanvas;
  position: relative;
  z-index: 1;
  transform-origin: left top;
}

.shape-resizer {
  position-anchor: --mainCanvas;
  position: absolute;
  top: anchor(top);
  left: anchor(left);
  z-index: 1000;
  transform-origin: left top;
}
