@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500');
@import './styles/interactive.css';

:root {
  --bright-navy: #1F2233;

  --gray: #4A516B;

  --clr-disabled: grey;
  --clr-primary: #83FCFC;
  --clr-secondary: #8E929B;
  --clr-accent: #83FCFC;
  --clr-hover: #83FCFC;
  --clr-active: #001523;

  --bg-disabled: grey;
  --bg-primary: #090B10;
  --bg-secondary: #0F111A;
  --bg-accent: #eb8e9f;
  --bg-hover: #427A7F;
  --bg-active: #427A7F;

  --radius: 4px;

  --space-sm: 4px;
  --space-md: 8px;
}


body {
  display: flex;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

*::backdrop {
  backdrop-filter: blur(3px);
}

button, .button {
  border: none;
  border-radius: var(--radius);
  padding: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  user-select: none;

  &:has(.material-symbols-outlined) {
    display: flex;
  }
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
}

main {
  align-items: center;
  background-color: var(--bg-primary);
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  width: 100%;
}

ul {
  padding: 0;
  margin-block: 0;

  &.dropdown {
    li {
      background: var(--bg-secondary);
      color: var(--clr-secondary);
      padding: 2px 4px;
      border-radius: 2px;
      cursor: pointer;
    }

    li:hover {
      color: var(--clr-hover);
      background: var(--bg-hover);
    }

    li.active {
      color: var(--clr-active);
      background: var(--bg-active);
    }

    li:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}

li {
  list-style: none;
}

.material-symbols-outlined {
  color: var(--clr-primary);
}
