@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=VT323&display=swap');

:root {
  --clr-primary: white;
  --clr-secondary: gray;

  --bg-primary: #141313;
  --bg-secondary: #2f2e2e;
  --bg-accent: #eb8e9f;

  --space-sm: 4px;
  --space-md: 8px;
}

body {
  display: flex;
  font-family: 'Poiret One', sans-serif;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

*::backdrop {
  backdrop-filter: blur(3px);
}

button:has(.material-symbols-outlined) {
  display: flex;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
}

main {
  align-items: center;
  background-color: var(--bg-primary);
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  width: 100%;
}
