.color-picker:popover-open {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  background-color: #141313;

  & .preview {
    border-radius: 5px;
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
  }

  & .color {
    cursor: pointer;
  }

  & .slider {
    cursor: grab;
  }
}
